
DATABASE_URL=""
NODE_ENV="development"

# App Branding & Names (Easily change the brand name of your application here)
NEXT_PUBLIC_APP_NAME="APP"
NEXT_PUBLIC_APP_SHORT_NAME="AP"
NEXT_PUBLIC_ADMIN_NAME="App Admin"
NEXT_PUBLIC_APP_DESCRIPTION=" description of your application"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# next js
AUTH_SECRET="your-32-character-random-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# google
AUTH_GOOGLE_ID="your-google-client-id.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET="GOCSPX-your-google-client-secret"

# Redis Server & REST API (apps/server)
PORT=4000
REDIS_URL="redis://localhost:6379"

